# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/.idea
/auxil
*.synctex.gz
/sections/add
/report/IEEE.synctex(busy)
